% EMPFEHLUNG: Nutze Zotero + Better BibTeX für den Auto-Export!
% Zielpfad für den Export: publication/literature/references.bib
% Format: BibLaTeX
% Docs: https://retorque.re/zotero-better-bibtex/exporting/auto/

% Diese Datei dient vorerst nur als Platzhalter, damit biber nicht fehlschlägt.
