% === Projektmetadaten ===
\newcommand{\myTitle}{ {{- project_name -}} }
\newcommand{\myAuthor}{ {{- author -}} }
\newcommand{\myAuthorEmail}{ {{- author_email -}} }
\newcommand{\myDate}{\today}

% === Pfade ===
% Bibliographie: Pfad zur .bib-Datei
% EMPFEHLUNG: Zotero Better BibTeX Auto-Export hierhin zeigen lassen
\newcommand{\myBibPath}{literature/references.bib}

% Deckblattfoto:
\newcommand{\myCoverPicture}{cover/cover_picture.png}
\newcommand{\myCoverPictureCaption}{Titelbild Beschriftung}
