// === Projektmetadaten ===
#let my-title = "{{ project_name }}"
#let my-author = "{{ author }}"
#let my-author-email = "{{ author_email }}"
#let my-date = datetime.today().display("[day].[month].[year]")

// === Pfade ===
#let my-cover-picture = "cover_picture.png"
