\begin{titlepage}
	\thispagestyle{empty}
	\centering
	\vspace*{0.5cm}

	{\large \myTitle\par}

	\bigskip

	{\LARGE\bfseries \myTitle\par}

	\bigskip

	\includegraphics[width=0.4\textwidth]{\myCoverPicture}\par

	\bigskip

	{\large vorgelegt von \myAuthor\\ im \myDate\par}

	\bigskip

	{\myAuthor\\
	\href{mailto:\myAuthorEmail}{\myAuthorEmail}}

	\vfill
\end{titlepage}
